<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<nav th:fragment="navbarFragment"
		class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
		<div class="container-fluid">
			<a class="navbar-brand" href="/">Travel ko</a>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item"><a class="nav-link"
						sec:authorize="isAnonymous()" th:href="@{/user/login}">로그인</a> <a
						class="nav-link" sec:authorize="isAuthenticated()"
						th:href="@{/user/logout}">로그아웃</a></li>
					<li class="nav-item"><a class="nav-link"
						th:href="@{/user/signup}">회원가입</a></li>
					<li class="nav-item"><a class="nav-link withdraw"
						sec:authorize="isAuthenticated()" href="javascript:void(0);" th:data-uri="@{/user/withdraw}">회원탈퇴</a></li>
					<li class="nav-item"><a class="nav-link"
						sec:authorize="isAuthenticated()" th:href="@{/user/modify}">회원정보수정</a></li>
					<li class="nav-item"><a class="nav-link"
						sec:authorize="isAuthenticated()" th:href="@{/travel/check}">여행신청자확인</a></li>
					<li class="nav-item"><a class="nav-link"
						sec:authorize="isAuthenticated()" th:href="@{/travel/check}">여행이력조회</a></li>
				</ul>
			</div>
		</div>
	<script layout:fragment="navscript" type='text/javascript'>
		const withdraw_elements = document.getElementsByClassName("withdraw");
		Array.from(withdraw_elements).forEach(function(element) {
			element.addEventListener('click', function() {
				if (confirm("정말로 회원탈퇴 하시겠습니까?")) {
					location.href = this.dataset.uri;
				};
			});
		});
	</script>
	</nav>
</body>
</html>