<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div layout:fragment="content" class="container my-3">
		<table class="table">
			<thead class="table-dark">
				<tr class="text-center">
					<th style="width: 40%">글 제목</th>
					<th>지역</th>
					<th>기간</th>
					<th>참가자</th>
					<th>참가자 전화번호</th>
				</tr>
			</thead>
			<tbody>
				<tr class="text-center" th:each="travel, loop : ${travelY}">
					<td><a th:href="@{|/recruit/detail/${travel.recruit.id}|}"
						th:text="${travel.recruit.subject}"></a></td>
					<td th:text="${travel.recruit.region}"></td>
					<td th:text="|${travel.recruit.startDate}-${travel.recruit.endDate}|"></td>
					<td th:text="${travel.siteUser.username}"></td>
					<td th:text="${travel.siteUser.phone}"></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>